*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:#5B8692;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 20px;

}
